<div class="container">
    <div class="card text-center">
        <div class="card-header">
            <b>Sala de Juegos</b>
        </div>
        <div class="card-body p-4">            
            <h3>Hola! Soy Ezequiel Unía</h3>
            <p>Anagrama: En este juego se debe adivinar la palabra. Se mostrarán las letras sueltas y mezcladas y se debe avivinar cual es la palabra correcta.</p>
            <img class="img" src="../../../assets/EMU_Foto_03.png" >  
            <a routerLink="" class="btn btn-danger form-control">Volver</a>               
        </div>
    </div>
</div>