<div class="container">
    <div class="card text-center">
        <div class="card-header">
            <b>Registro</b>
        </div>
        <form [formGroup]="form">
            <div class="card-body p-4">
                <app-error *ngIf="errorShow" mensaje="{{errorMessage}}" color="alert-danger"></app-error>

                <div class="form-group">
                    <label style="float: left">Nombre</label>
                    <input class="form-control" formControlName="name" type="name" placeholder="Ingrese su nombre"
                        required>
                    <div class="errorMessage"
                        *ngIf="getValue('name')?.invalid && (getValue('name').touched || getValue('name').dirty)">
                        Ingrese un nombre válido</div>
                </div><br>

                <div class="form-group">
                    <label style="float: left">Apellido</label>
                    <input class="form-control" formControlName="lastname" type="lastname"
                        placeholder="Ingrese su apellido" required>
                    <div class="errorMessage"
                        *ngIf="getValue('lastname')?.invalid && (getValue('lastname').touched || getValue('lastname').dirty)">
                        Ingrese un apellido válido</div>
                </div><br>

                <div class="form-group">
                    <label style="float: left">Edad</label>
                    <input class="form-control" formControlName="age" type="age" placeholder="Ingrese su edad" required>
                    <div class="errorMessage"
                        *ngIf="getValue('age')?.invalid && (getValue('age').touched || getValue('age').dirty)">
                        Mayores de 18 años y menores de 99</div>
                </div><br>

                <div class="form-group">
                    <label style="float: left">Teléfono</label>
                    <input class="form-control" formControlName="cellPhone" type="cellPhone"
                        placeholder="Ingrese su teléfono" required>
                    <div class="errorMessage"
                        *ngIf="getValue('cellPhone')?.invalid && (getValue('cellPhone').touched || getValue('cellPhone').dirty)">
                        Entre 8 y 10 números</div>
                    <br>
                    <label style="float: left">Contanos sobre los juegos</label><br>

                    <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
                        <button type="button" class="btn btn-outline-primary me-2" id="dropdownManual" ngbDropdownAnchor
                            (focus)="myDrop.open()">¿Cuál fue el juego que más te gustó?</button>
                        <div ngbDropdownMenu aria-labelledby="dropdownManual">
                            <button value="ahorcado" ngbDropdownItem>Ahorcado</button>
                            <button value="mayormenor" ngbDropdownItem>Mayor o Menor</button>
                            <button value="preguntados" ngbDropdownItem>Preguntados</button>
                            <button value="anagrama" ngbDropdownItem>Anagrama</button>
                        </div>
                    </div>
                </div><br>

                <button class="btn btn-success form-control" (click)="registrar()"
                    [disabled]="!form.valid">Registrar</button>
                <a routerLink="/login" class="btn btn-danger form-control">Volver</a>
            </div>
        </form>
    </div>
</div>